:root {
  --primary: hsl(233, 47%, 7%);
  --secondary: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --primary-heading: hsl(0, 0%, 100%);
  --para: hsla(0, 0%, 100%, 0.75);
  --secodary-heading: hsla(0, 0%, 100%, 0.6);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background-color: var(--primary);
}

.card {
  width: 320px;
  /* height: 500px; */
  margin: 13.5vh auto auto auto;
  border-radius: 5px;
  background-color: var(--secondary);
}

.img-container {
  width: 100%;
  height: 235px;
  background-image: url(../images/image-header-mobile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.img-color {
  width: 100%;
  height: 100%;
  background-color: hsla(277, 64%, 61%, 0.6);
}

.content {
  display: flex;
  flex-direction: column;
  margin: 46px 36px auto;
}

h1 {
  font-size: 2.2rem;
  color: var(--primary-heading);
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05rem;
  word-spacing: 0.3rem;
  line-height: 3rem;
}

p {
  text-align: center;
  color: var(--para);
}

.color-word {
  color: var(--accent);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
